--  Generated with TGen

@@TABLE@@
@_WITH_CLAUSES_@
@@END_TABLE@@

package @_PACKAGE_NAME_@.Param_Strategies is

   @@TABLE@@
   @_PARAM_STRATEGY_@
   @@END_TABLE@@

end @_PACKAGE_NAME_@.Param_Strategies;
