--  Generated with TGen

@@TABLE@@
@_WITH_CLAUSES_@
@@END_TABLE@@

with TGen.Types.Int_Types;
with TGen.Types.Real_Types;

package @_PACKAGE_NAME_@ is

   @@TABLE@@
   @_TYPE_STRATEGY_@
   @@END_TABLE@@

end @_PACKAGE_NAME_@;
