--  Generated with TGen

@@TABLE@@
with @_WITH_PACKAGE_@; use @_WITH_PACKAGE_@;
@@END_TABLE@@

with TGen.Types.Int_Types;
with TGen.Types.Real_Types;

package body @_PACKAGE_NAME_@ is

   @@TABLE@@
   @_TYPE_STRATEGY_@
   @@END_TABLE@@

end @_PACKAGE_NAME_@;
