# Build artifacts
obj
bin
lib.*
lib

# Testsuite output
out
testsuite/out

# Python artifacts
*.pyc

# External ASIS testsuite
asis-testsuite
testsuite/tests/asis

# Internal testsuite
internal_testsuite

# Clang artifacts
.clang-format
