# Build artifacts
obj
bin
lib.*
lib

# Testsuite output
out
testsuite/out

# Python artifacts
*.pyc

# Internal testsuite
asis-testsuite
testsuite/tests/asis
internal_testsuite
testsuite/tests/internal

# Clang artifacts
.clang-format

# VScode settings, updated by ancr
.vscode/settings.jon
